.controlPanel {
  display: flex;
  justify-content: space-evenly;
  width: 99%;
  align-self: center;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-bottom: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  padding-top: 10px;
}

.nodeOptions {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}
.edgeOptions {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
}
.miscellaneous {
  display: flex;
  align-items: center;
}

.visualizeControls {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(180deg, #51268ad1, #0072ffbf 119%);
}

.graphContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 100%;
  margin-bottom: 6px;
  align-self: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.icon {
  margin-right: 5px;
}
.optionButtons {
  background-image: linear-gradient(45deg, #4039ad, #0e8ecc 159%);
  border: none;
  height: 68%;
  color: white;
  border-radius: 5px;
  outline-color: white;
  cursor: pointer;
}

.dropdownWrapper {
  background-image: linear-gradient(45deg, #4039ad, #0e8ecc 159%);
  border-radius: 5px;
}
.selectedButtonOption {
  background: white;
  color: black;
  transition: ease-in 0.1s;
}
.selectedButtonOption:focus {
  outline: none;
}
.selectedDropdownOption {
  background-image: linear-gradient(45deg, #4039ad, #0e8ecc 159%);
  border-radius: 5px;
}
.speedSlider {
  width: 200px;
  margin-left: 20px;
}
.visualizerProgress {
  width: 99%;
  align-self: center;
}

.appIcon {
  height: 40px;
  width: 40px;
}
.appIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pullDownMenu {
  display: none;
}

@media only screen and (max-width: 850px) {
  .controlPanel {
    flex-wrap: wrap;
    gap: 5px;
  }
  .nodeOptions,
  .edgeOptions {
    flex-basis: 30%;
    gap: 5px;
  }

  .algorithm,
  .visualizeControls {
    flex-basis: 50%;
  }
  .optionButtons {
    height: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .nodeOptions,
  .edgeOptions {
    flex-basis: 50%;
    gap: 5px;
  }
  .visualizeControls {
    flex-basis: 0%;
    margin-left: 8px;
  }
  .optionButtons {
    height: 100%;
  }
  .speedSlider {
    display: none;
  }
  .controlPanel {
    gap: 5px;
    overflow: hidden;
  }
  .miscellaneous {
    display: none;
    z-index: 100;
  }
}
